<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalon</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_home.css">

</head>
<body>
<header>
    <h1>A V A L O N</h1>
    <div class="header-buttons">
        <span class="login-display">{{ username }}</span>
        <span class="logout-icon" title="Log out">✖</span>
    </div>
</header>

    <main>
        <aside>
            <button id="add-class" class="glow-button">+</button>
            <ul id="class-list"></ul>
        </aside>
        <section id="content">
            <p>
Виберіть клас або створіть новий</p>
        </section>
    </main>


    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Вхід</h2>
            <input type="text" placeholder="Логин">
            <input type="password" placeholder="Пароль">
            <button>Війти</button>
        </div>
    </div>


    <div id="join-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>
Приєднатися до класу</h2>
            <input type="text" id="class-code" placeholder="Введите код класса">
            <button id="join-class-btn">
Приєднатися</button>
        </div>
    </div>

    <script src="../static/js/script_home.js"></script>
</body>
</html>