<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullscreen Example</title>
    <link rel="stylesheet" href="../static/css/style_session.css">
</head>
<body>
    <button id="fullscreenBtn">Go Fullscreen</button>

    <table id="formulas-table" style="display: none;" border="1">
        <thead>
            <tr>
                <th>Formula</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically populated -->
        </tbody>
    </table>
    
    <script>
        const userID = "{{ user_id }}";  // Get user login
        const classUUID = "{{ class_uuid }}";  // Get class UUID
        console.log("User ID:", userID);
        console.log("Class UUID:", classUUID);
    </script>
    <script src="../static/js/script_session.js"></script>
</body>
</html>